h1, h2{

    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form{
    background-color:cornflowerblue;
    display: flex;
    text-align: start;
    flex-direction: column;
    width: 20%;
    margin: auto;
    padding-bottom:10px;
    padding-top: 10px;
    border-radius: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

select{
    width: 200px;
    display: flex;
    text-align: center;
    margin: auto;
}

p{
        background-color: cornflowerblue;
        display: flex;
        text-align: start;
        flex-direction: column;
        width: auto;
        margin: auto;
}

input{
    margin-top: 5px;
}