h1, h2{

    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form{
    background-color: rgb(240, 80, 255);
    display: flex;
    text-align: start;
    flex-direction: column;
    width: 20%;
    margin: auto;
    padding-bottom:10px;
    padding-top: 10px;
    border-radius: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

select{
    width: 200px;
    display: flex;
    text-align: center;
    margin: auto;
}

p{
        background-color: rgb(240, 80, 255);
        display: flex;
        text-align: start;
        flex-direction: column;
        width: auto;
        margin: auto;
}

input{
    margin-top: 5px;
}