header{
  background-color: beige;
  color: darkred;
  margin-top: 10%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;

}

table{
  background-color: lightyellow;
  border-collapse: collapse;
  display: flex;
  justify-content: center;


}

td{
  text-align: center;
  width: 300px;
  border: 4px solid darkcyan;
  padding: 10px;

}
footer{
  background-color: lightcoral;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
